//////////////////////////////////////////////
//// logo
.logo{
    height: 3.25rem;
}
.search{
    &__input{

    }
    &__button{

    }
    &__icon{
        height: 2rem;
        width: 2rem;

    }
}
.user-nav{
    &__icon-box{

    }
    &__icon{
       height: 2.25rem;
       width: 2.25rem;
    }
    &__notification{

    }
    &__icon-box{

    }
    
    &__notification{

    }
    &__user{

    }
    &__user-photo{
        height: 3.25rem;
        border-radius: 50%;
    }
    &__user-name{

    }
}